@import './index.scss';

.btn {
  cursor: pointer;
  padding: 0.3125em 1.25em;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  font-weight: 700;
  border: none;
  border-radius: 0.3125em;
  box-shadow: 0 0 0.5em 0.25em rgba(0, 0, 0, 0.8);
  transform: scale(1);
  transition: all 500ms ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0 0 1em 0.125em rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
  }
}

.btn--primary {
  color: lighten($clr-primary, 50%);
  background: darken($clr-primary, 30%);

  &:hover,
  &:focus {
    color: darken($clr-primary, 50%);
    background: lighten($clr-primary, 30%);
  }
}

.btn--danger {
  color: lighten($clr-warning, 50%);
  background-color: darken($clr-warning, 20%);

  &:hover,
  &:focus {
    color: darken($clr-warning, 50%);
    background-color: lighten($clr-warning, 20%);
  }
}
