@import './index.scss';

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: rgba( $clr-dark, 0.6);
    color: $clr-light;

    a {
        color: $clr-primary;
    }

    &__attr {
        font-size: 0.8rem;
    }
}